* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
  cursor: pointer;
  font: inherit;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.form__field {
  margin-bottom: 1em;
}

.form__input {
  padding: 0.5em 1em;
  width: 100%;
}
